---

- name: Dropin config tasks
  tags:
    - systemd_resolved_config
    - systemd_resolved
  become: true
  block:
    - name: Make dropin config directory
      ansible.builtin.file:
        path: "{{ systemd_resolved_dropin_config_dir }}"
        owner: root
        group: root
        mode: "0755"
        state: directory
      when: systemd_resolved_dropin_config_options is defined and systemd_resolved_dropin_config_options | length > 0

    - name: Initialize dropin config
      when: systemd_resolved_dropin_config_options is defined and systemd_resolved_dropin_config_options | length > 0
      block:
        - name: Search dropin config
          ansible.builtin.find:
            paths: "{{ systemd_resolved_dropin_config_dir }}"
            patterns: "*.conf"
          register: findlist

        - name: Current dropin config
          ansible.builtin.set_fact:
            systemd_resolved_dropin_before: "{{ findlist.files | map(attribute='path') | list }}"

        - name: Generate dropin name list
          ansible.builtin.set_fact:
            systemd_resolved_dropin_temp: "{{ systemd_resolved_dropin_config_options | map(attribute='name') | list }}"

        - name: Generate dropin_after list
          ansible.builtin.set_fact:
            systemd_resolved_dropin_after: "{{ systemd_resolved_dropin_temp | map('regex_replace', '^(.*)$', systemd_resolved_dropin_config_dir ~ '/\\1') | list }}"

        - name: Remove target dropin config
          ansible.builtin.set_fact:
            systemd_resolved_dropin_remove: "{{ systemd_resolved_dropin_before | difference(systemd_resolved_dropin_after) }}"

        - name: Debug variable print
          when: systemd_resolved_debug is defined and systemd_resolved_debug
          ansible.builtin.include_tasks: debug/dropin.yml

        - name: Remove dropin config
          when: systemd_resolved_dropin_config_purge | default(false) and systemd_resolved_dropin_remove is defined and systemd_resolved_dropin_remove | length > 0
          ansible.builtin.file:
            path: "{{ item }}"
            state: absent
          with_items: "{{ systemd_resolved_dropin_remove }}"
          notify: Restart systemd-resolved

    - name: Manage dropin configuration
      when: systemd_resolved_dropin_config_options is defined and systemd_resolved_dropin_config_options | length > 0
      ansible.builtin.template:
        src: resolved.dropin.j2
        dest: "{{ systemd_resolved_dropin_config_dir }}/{{ item.name }}"
        owner: root
        group: root
        mode: "0644"
      notify: Restart systemd-resolved
      with_items: "{{ systemd_resolved_dropin_config_options }}"
      register: dropin_result
