---

- name: Install tasks
  tags:
    - systemd_resolved_install
    - systemd_resolved
  become: true
  block:
    - name: Install systemd_resolved package
      ansible.builtin.package:
        name: "{{ systemd_resolved_package_name }}"
        state: "{{ systemd_resolved_package_ensure }}"
