---
- name: Restart systemd-resolved
  when: not ansible_check_mode
  become: true
  ansible.builtin.systemd:
    name: "{{ systemd_resolved_service_name }}"
    state: restarted
    daemon_reload: true
