# {{ ansible_managed }}

[Resolve]
{% for key, value in item.content.items() %}
{%   if key == 'DNS' or key == 'FallbackDNS' or key == 'Domains' %}
{%     if value is iterable %}
{{ key }}={{ value | join(' ') }}
{%     elif value | length > 1 %}
{{ key }}={{ value }}
{%     else %}
{{ key }}=
{%     endif %}
{%   else %}
{%     if value is boolean %}
{{ key }}={{ (value | string | lower in ['true', 'yes']) | ternary('yes', 'no') }}
{%     elif value is string or value is number %}
{{ key }}={{ value | string }}
{%     else %}
{{ key }}=
{%     endif %}
{%   endif %}
{% endfor %}
